@import url('https://fonts.googleapis.com/css2?family=NTR&family=Roboto+Mono:wght@200&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NTR', sans-serif;
  color: #000000;
}

.navbar {
  position: fixed;
  height: 90px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #000000;
  z-index: 1000;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.downloadBtn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 0px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 22px;
  margin-right: 60px;
}

.buttonText {
  font-size: 17px;
  font-family: 'NTR';
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  margin: 0;
  padding: 0;
}

.list li {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

